<template>
    <div>
        <v-layout row wrap>
            <v-flex xs12 sm10 md8 offset-md2>
                <v-card class="info">
                    <v-container>
                        <v-layout row>
                            <v-flex xs5>
                            <v-card-media
                            src=" <%= ActionController::Base.helpers.image_path('sample.jpg') %>"
                            height="130px"
                            contain>

                    </v-card-media>
                </v-flex>
        <v-flex xs7 sm8 md-9>
              <v-card-title primary-title>
                  <div>
                  <h5 class="white--text">Unlimited Music Now</h5>
                  <div>Listen to your favorite artists, whenever and wherever, offline or online</div>
                  </div>

              </v-card-title>
        </v-flex>
        <v-card-actions>
        <v-btn flat to=""></v-btn>
</v-card-actions>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>