<% content_for :head do %>
    <%= stylesheet_pack_tag 'application' %>
<% end %>

<div id="vue_container">
  <%# VUE STUFF GOES HERE %>
</div>

<% content_for :js do %>
    <%= javascript_pack_tag 'application' %>
<% end %>